<body>
  <div id='hero'>
    <h1>Welcome to PingPong</h1>
    <p><%= image_tag User::DEFAULT_AVATAR_URL, class: 'avatar-home' %></p>
    <a href="/signup">Let's Get Started</a>
  </div>
  <div id='home'>
    <div id="leaderboard">
      <table>
        <h1 style="color:gray; padding-top:15px; padding-bottom:2px;">Recent Games</h1>
        <th style="color:gray;">Win</th><th></th><th></th><th></th><th style="color:grey;">Loss</th>
        <% @games.each do |game| %>
          <tr>
            <td><%= link_to((image_tag game.winner.avatar.url(:medium), class: 'avatar-small', style: 'border: 2px solid gray'), user_path(game.winner)) %></a></td>
            <td><%= link_to game.winner.username, user_path(game.winner), class: 'display-name-gray' %></td>
            <td style="color:gray;">vs</td>
            <td><%= link_to game.loser.username, user_path(game.loser), class: 'display-name-gray' %></td>
            <td><%= link_to((image_tag game.loser.avatar.url(:medium), class: 'avatar-small', style: 'border: 2px solid gray'), user_path(game.loser)) %></a></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</body>
